# -*- mode: ruby -*-
# vi: set ft=ruby :

# All Vagrant configuration is done below. The "2" in Vagrant.configure
# configures the configuration version (we support older styles for
# backwards compatibility). Please don't change it unless you know what
# you're doing.
Vagrant.configure(2) do |config|
  #
  # Basic configuration
  #
  config.vm.box = "opensuse/openSUSE-42.1-x86_64"
  config.vm.network "forwarded_port", guest: 4000, host: 4000
  config.vm.network "forwarded_port", guest: 8188, host: 8188
  config.vm.network "forwarded_port", guest: 8989, host: 8989

  #
  # Synced folders
  #
  mount_options = ENV["VAGRANT_USE_NFS"] == "true" ?
  { nfs: true, nfs_version: 3, nfs_udp: true } : {}
  config.vm.synced_folder ".", "/home/vagrant/jangouts", mount_options

  #
  # Network
  #
  if ENV["VAGRANT_USE_NFS"] == "true"
    config.vm.network "private_network", type: "dhcp"
  end

  #
  # Providers configuration
  #
  config.vm.provider "virtualbox" do |vb|
    vb.memory = "1024"
  end

  config.vm.provider "libvirt" do |lv|
    lv.memory = "1024"
  end

  #
  # Misc
  #
  config.vm.hostname = "jangouts"
  config.ssh.forward_x11 = true
  config.ssh.forward_agent = true

  # Enable provisioning with a shell script. Additional provisioners such as
  # Puppet, Chef, Ansible, Salt, and Docker are also available. Please see the
  # documentation for more information about their specific syntax and use.
  config.vm.provision "shell", privileged: false, path: "provisioning/setup.sh"

  # If a custom.sh script exists, it will be also executed during provisioning.
  if File.exists?("provisioning/custom.sh")
    config.vm.provision "shell", privileged: false, path: "provisioning/custom.sh"
  end
end
