footer.footer
  .container-fluid
    span.pull-left
      img#logo(src='../../images/jangouts-logo-white.png')
  .container-fluid
    span.pull-left#text
      | &copy;
      = " "
      a(href='http://www.suse.com/', target='_blank') SUSE 2015
      = " | "
      | version
      = " "
      = version
      = " | "
      a(href='https://github.com/jangouts/jangouts', target='_blank') GitHub
  .clearfix
