footer.footer
    .container-fluid
        span.pull-left
          | &copy; 
          a(href='http://www.suse.com/', target='_blank') SUSE 2015
        span.pull-right Version 
          = version
        .clearfix

