<figure ng-class="{'own-feed': vm.feed.isPublisher}">
    <video
      autoplay
      ng-class="{mirrored: vm.mirrored}"
      poster="assets/images/suse.png"
      ng-show="vm.isVideoVisible()">
    </video>
    <video
      class="placeholder"
      poster="assets/images/suse.png"
      ng-hide="vm.isVideoVisible()">
    </video>
    <figcaption>
      {{ vm.feed.display }}

      <button
        type="button"
        class="btn btn-xs"
        ng-class="{'btn-primary': vm.feed.speaking, 'btn-default': !vm.feed.speaking}"
        ng-click="vm.toggleAudio()"
        title="Disable audio"
        ng-show="vm.showsDisableAudio()">
        <span class="glyphicon glyphicon-volume-up"></span>
      </button>
      <button
        type="button"
        class="btn btn-xs btn-danger"
        ng-click="vm.toggleAudio()"
        title="Enable audio"
        ng-show="vm.showsEnableAudio()">
        <span class="glyphicon glyphicon-volume-off"></span>
      </button>
      <button
        type="button"
        disabled
        class="btn btn-xs btn-danger"
        title="Audio disabled"
        ng-show="vm.showsAudioOff()">
        <span class="glyphicon glyphicon-volume-off"></span>
      </button>

      <button
        type="button"
        class="btn btn-xs btn-default"
        ng-click="vm.toggleVideo()"
        title="Disable video"
        ng-show="vm.showsDisableVideo()">
        <span class="glyphicon glyphicon-eye-open"></span>
      </button>
      <button
        type="button"
        class="btn btn-xs btn-danger"
        ng-click="vm.toggleVideo()"
        title="Enable video"
        ng-show="vm.showsEnableVideo()">
        <span class="glyphicon glyphicon-eye-close"></span>
      </button>

      <button
        type="button"
        class="btn btn-xs btn-default"
        ng-click="vm.clickFn()"
        title="Un-highlight feed"
        ng-show="!vm.highlighted">
        <span class="glyphicon glyphicon-arrow-up"></span>
      </button>
      <button
        type="button"
        class="btn btn-xs btn-danger"
        ng-click="vm.clickFn()"
        title="Highlight feed"
        ng-show="vm.highlighted">
        <span class="glyphicon glyphicon-arrow-up"></span>
      </button>
    </figcaption>
</figure>
