<figure ng-class="{'own-feed': vm.feed.isPublisher}">
    <video
      autoplay
      class="thumb"
      ng-class="{mirrored: vm.mirrored}"
      poster="assets/images/placeholder.png"
      ng-show="vm.thumbnailTag() === 'video'">
    </video>
    <canvas
      class="thumb"
      ng-class="{mirrored: vm.mirrored}"
      ng-show="vm.thumbnailTag() === 'picture'">
    </canvas>
    <img
      ng-src="assets/images/placeholder.png"
      class="thumb"
      ng-class="{mirrored: vm.mirrored}"
      ng-show="vm.thumbnailTag() === 'placeholder'">
    </img>
    <figcaption>
      {{ vm.feed.display }}

      <div class="buttons">
        <button
          type="button"
          class="btn btn-xs btn-default"
          ng-click="vm.unPublish()"
          title="Stop sharing"
          ng-show="vm.showsUnPublish()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>

        <button
          type="button"
          class="btn btn-xs"
          ng-class="{'btn-primary': vm.feed.speaking, 'btn-default': !vm.feed.speaking}"
          ng-click="vm.toggleAudio()"
          title="Disable audio"
          ng-show="vm.showsDisableAudio()">
          <span class="glyphicon glyphicon-volume-up"></span>
        </button>
        <button
          type="button"
          class="btn btn-xs btn-danger"
          ng-click="vm.toggleAudio()"
          title="Enable audio"
          ng-show="vm.showsEnableAudio()">
          <span class="glyphicon glyphicon-volume-off"></span>
        </button>
        <button
          type="button"
          disabled
          class="btn btn-xs btn-danger"
          title="Audio disabled"
          ng-show="vm.showsAudioOff()">
          <span class="glyphicon glyphicon-volume-off"></span>
        </button>

        <button
          type="button"
          class="btn btn-xs btn-default"
          ng-click="vm.clickFn()"
          title="Highlight feed"
          ng-show="!vm.highlightedByUser && !vm.feed.isIgnored">
          <span class="glyphicon glyphicon-arrow-up"></span>
        </button>
        <button
          type="button"
          class="btn btn-xs btn-danger"
          ng-click="vm.clickFn()"
          title="Un-highlight feed"
          ng-show="vm.highlightedByUser">
          <span class="glyphicon glyphicon-arrow-up"></span>
        </button>

        <button
          type="button"
          class="btn btn-xs btn-default"
          ng-click="vm.toggleVideo()"
          title="Disable video"
          ng-show="vm.showsDisableVideo()">
          <span class="glyphicon glyphicon-eye-open"></span>
        </button>
        <button
          type="button"
          class="btn btn-xs btn-danger"
          ng-click="vm.toggleVideo()"
          title="Enable video"
          ng-show="vm.showsEnableVideo()">
          <span class="glyphicon glyphicon-eye-close"></span>
        </button>

        <button
          type="button"
          class="btn btn-xs btn-default"
          ng-click="vm.ignore()"
          title="Ignore"
          ng-show="vm.showsIgnore()">
          <span class="glyphicon glyphicon-ban-circle"></span>
        </button>
        <button
          type="button"
          class="btn btn-xs btn-danger"
          ng-click="vm.stopIgnoring()"
          title="Stop ignoring"
          ng-show="vm.showsStopIgnoring()">
          <span class="glyphicon glyphicon-ban-circle"></span>
        </button>

      </div>
    </figcaption>
</figure>
