<nav class="navbar navbar-expand-md navbar-dark bg-dark nav-slim">
  <a class="navbar-brand yojume-logo-color" href="{{  vm.location_url }}">Yojume</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
  <div class="col-md-12" style="padding: 0;">
    <jh-room-info></jh-room-info>
  </div>
<div class="youjume-room-users-container text-center">
  <div class="user-video-face-container">
    <div
      class="user-video-area" ng-repeat="user in vm.feeds() | orderBy: '+Display' | orderBy: '-isPublisher'"
      jh-feed="true"
      feed="user">
    </div>
  </div>
</div>
<div class="col-md-12 main-heightlit-container">
  <div
    class="main-highlight-screen"
    jh-main-feed="true"
    feed="vm.highlightedFeed()"
    ng-class="{mirrored: vm.mirrored()}">
  </div>
</div>
<div class="main-chat-container hidden" id="main-chat-box-container">
  <jh-chat messages="vm.logEntries()"></jh-chat>
</div>
<div class="controller-buttons">
  <button class="btn btn-success" ng-click="vm.toggleChatBox()">
    <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
  </button>
</div>

