<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <!-- Info Button -->
      <div class="row sidebar-box" id="sidebar-box-info">
        <button
           class="btn btn-sidebar"
           id="btn-info"
           ng-click="vm.showHotkeys()"
           title="Keyboard shortcuts">
           <span><img class="btn-img" src="images/buttons/buttons_info.svg"/></span>
        </button>
      </div>
      <hr/>
      <!-- Layout Change Button -->
      <div class="row sidebar-box">
        <button
           class="btn btn-sidebar"
           <span><img class="btn-img" src="images/buttons/buttons_layout-change.svg"/></span>
        </button>
      </div>
      <hr/>
      <!-- Settings Button -->
      <div class="row sidebar-box">
        <button
           class="btn btn-sidebar"
           <span><img class="btn-img" src="images/buttons/buttons_settings.svg"/></span>
        </button>
      </div>
      <hr/>
      <!-- Hotkey Button -->
      <div class="row sidebar-box">
        <jh-pushtotalk-button></jh-pushtotalk-button>
      </div>
      <hr/>
      <!-- Audio Button -->
      <div class="row sidebar-box">
        <jh-audio-button feed="vm.mainFeed()"></jh-audio-button>
      </div>
      <hr/>
      <!-- Video Button -->
      <div class="row sidebar-box">
        <jh-video-button feed="vm.mainFeed()"></jh-video-button>
      </div>
      <hr/>
      <!-- Window Share Button -->
      <div class="row sidebar-box">
        <button
           class="btn btn-sidebar"
           <span><img class="btn-img" src="images/buttons/buttons_window-share.svg"/></span>
        </button>
      </div>
      <hr/>
      <!-- Screen Share Button -->
      <div class="row sidebar-box">
        <button
           class="btn btn-sidebar"
           <span><img class="btn-img" src="images/buttons/buttons_screen-share.svg"/></span>
        </button>
      </div>
      <hr/>
    </ul>
  </div>

  <!-- Header -->
  <div id="header-wrapper">
    <header>
      <div class="row">
        <!-- Menu Toggle -->
        <div class="col-xs-5 hidden-sm hidden-md hidden-lg text-left">
          <button href="#menu-toggle" id="menu-toggle">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
        </div>
        <!-- Logo + Footer -->
        <div class="hidden-xs col-sm-10 text-left">
          <jh-footer></jh-footer>
        </div>
        <!-- Username + Room Name + Logout -->
        <div class="col-xs-19 col-sm-14 text-right">
          <jh-room-info></jh-room-info>
          <jh-main-feed-info></jh-main-feed-info>
          <jh-leave-button></jh-leave-button>
        </div>
      </div>
    </header>
  </div>

  <!-- Page Content -->
  <!-- <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12"> -->
          <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
        <!-- </div>
      </div>
    </div> -->

    <!-- Activity features -->
    <!-- <div class="row" id="videochat-body">
      <div id="videochat-playroom">
        <ul>
          <li activity-item
              row="item.position[0]" col="item.position[1]"
              size-x="item.size[0]" size-y="item.size[1]"
              ng-repeat="item in vm.activityItems">
            <div
              ng-if="item.content === 'Speaker'"
              class="grid-item-content"
              id="main-video"
              jh-main-feed="true"
              feed="vm.highlightedFeed()"
              ng-class="{mirrored: vm.mirrored()}">
            </div>
            <div
              ng-if="item.content === 'Participants'"
              class="grid-item-content"
              id="thumbnails">
              <div
                jh-feed="true"
                feed="f"
                ng-repeat="f in vm.feeds() | orderBy:'+display'"
                toggle-highlight-fn="vm.toggleHighlightedFeed(f)"
                highlighted="vm.isHighlighted(f)"
                highlighted-by-user="vm.isHighlightedByUser(f)">
              </div>
            </div>
            <div
              ng-if="item.content === 'Chat'"
              class="grid-item-content">
              <jh-chat messages="vm.logEntries()"></jh-chat>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
</div>

<script>
$("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
});
</script>
