:host {
  font-size: 12px;

  &.panel.panel-default {
    margin-bottom: 0;
  }

  .panel-body {
    height: 60vh;
    overflow: auto;
    padding: 8px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 5px;
      padding-bottom: 2px;
      border-bottom: 1px dotted #aaa;

      .log-entry {
        font-style: oblique;
        color: #3388AA;
      }
    }
  }

  .panel-footer {
    padding: 3px;
  }
}
