<button
  type="button"
  class="btn btn-sidebar"
  ng-class="{'btn-primary': vm.isSpeaking(), 'btn-default': !vm.isSpeaking()}"
  ng-click="vm.toggle()"
  title="Disable audio"
  ng-show="vm.showsDisable()">
  <img class="btn-img" src="images/buttons/buttons_audio-on.svg"/>
</button><button
  type="button"
  class="btn btn-danger btn-sidebar"
  ng-click="vm.toggle()"
  title="Enable audio"
  ng-show="vm.showsEnable()">
  <img class="btn-img" src="images/buttons/buttons_audio-off.svg"/>
</button><button
  type="button"
  disabled
  class="btn btn-danger btn-sidebar"
  title="Audio disabled"
  ng-show="vm.showsAudioOff()">
  <img class="btn-img" src="images/buttons/buttons_audio-off.svg"/>
</button>
