<button
  type="button"
  class="btn"
  ng-class="{'btn-primary': vm.isSpeaking(), 'btn-default': !vm.isSpeaking()}"
  ng-click="vm.toggle()"
  title="Disable audio"
  ng-show="vm.showsDisable()">
  <span class="glyphicon glyphicon-volume-up"></span>
</button><button
  type="button"
  class="btn btn-danger"
  ng-click="vm.toggle()"
  title="Enable audio"
  ng-show="vm.showsEnable()">
  <span class="glyphicon glyphicon-volume-off"></span>
</button><button
  type="button"
  disabled
  class="btn btn-danger"
  title="Audio disabled"
  ng-show="vm.showsAudioOff()">
  <span class="glyphicon glyphicon-volume-off"></span>
</button>
