@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme-classic {
    --colors-primary-dark: #272727;
    --colors-primary: #676767;
    --colors-primary-lighter: #a7a7a7;
    --colors-secondary: #f15a5c;
    --colors-secondary-lighter: #f48b78; /* Salmon */
    --colors-inverse: #eeeff1; /* Fog */
    --colors-yellow-dark: #d7cc9f;
    --colors-yellow-light: #e0dbbd;
  }

  .theme-classic .bg-signal {
    background-color: #e0dbbd;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23d7cc9f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
};

@layer components {
  .form-element {
    @apply flex-1 mt-2 mx-1;
  }

  .form-label {
    @apply block;
    @apply text-sm text-gray-200 font-bold;
  }

  .form-input {
    @apply w-full mt-1 p-2 opacity-75;
    @apply transition-all duration-200 ease-in;
  }

  .form-input:focus {
    @apply bg-white opacity-100;
  }

  .form-btn {
    @apply appearance-none box-border cursor-pointer;
    @apply w-full p-2 bg-secondary;
    @apply text-white font-bold uppercase;
  }

  .chat-wrapper {
    position: relative;
    grid-column: span 2 / span 2;
    grid-row: 1 / span 2;
    border-color: var(--colors-primary);
    padding: 8px 4px;
  }

  .chat-wrapper[data-chat-position="start"] {
    border-bottom-width: 1px;
  }

  .chat-wrapper[data-chat-position="end"] {
    grid-row-start: 5;
    border-top-width: 1px;
  }

  .chat-position-toggler {
    --icon-size: 24px;
    --half-icon-size: calc(var(--icon-size) / 2);
    position: absolute;
    left: calc(50% - var(--half-icon-size));
    bottom: calc(0% - var(--half-icon-size) + 1px);
    color: var(--colors-primary-dark);
  }

  .chat-position-toggler:hover {
    color: var(--colors-secondary);
  }

  .chat-position-toggler svg {
    position: relative;
    border-radius: 1000px;
    width: var(--icon-size);
    height: var(--icon-size);
    @apply bg-gray-100;
  }

  .chat-position-toggler[data-chat-position="end"] {
    bottom: calc(100% - var(--half-icon-size) - 1px);
  }

  .chat-position-toggler[data-chat-position="start"] svg {
    border-bottom: 1px solid;
  }

  .chat-position-toggler[data-chat-position="end"] svg {
    border-top: 1px solid;
  }

  @media (min-width: 640px) {
    .chat-wrapper {
      grid-column: 1 / 2;
      grid-row: 1 / 7;
      border-top: 0;
      border-bottom: 0;
    }

    .chat-wrapper[data-chat-position="start"] {
      border-right-width: 1px;
    }

    .chat-wrapper[data-chat-position="end"] {
      grid-column-start: 2;
      grid-row-start: 1;
      border-left-width: 1px;
    }

    .chat-position-toggler {
      position: absolute;
      rotate: -90deg;
      left: calc(100% - var(--half-icon-size) - 1px);
    }

    .chat-position-toggler[data-chat-position="start"] {
      bottom: 50%;
    }

    .chat-position-toggler[data-chat-position="end"] {
      left: calc(0% - var(--half-icon-size) + 1px);
      bottom: 50%;
    }
  }

  @media (min-width: 1024px) {
    .chat-wrapper[data-chat-position="end"]{
      grid-column: 3 / 3;
    }
  }
};

@layer utils {
  .mirrored {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
  }
};
