.full-viewport {
  height: 100vh;
  width: 100vw;
  display: grid;
}

.content-wrapper {
  display: grid;
  gap: 0.5rem;
  grid-template-rows: repeat(6, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-flow: column;
}

.speaker-wrapper {
  display: flex;
  justify-content: center;
  grid-row: 1 / span 3;
  grid-column: 1 / span 2;
}

.participants-wrapper {
  grid-row: 4 / span 2;
  grid-column: 1 / span 2;
}

.chat-wrapper[data-chat-position="start"] {
  grid-column-start: 1;
}
.chat-wrapper[data-chat-position="start"] ~ div {
  grid-column-start: 3;
}

.login-wrapper {
  width: 60%;
  background: var(--colors-primary-dark);
  align-self: center;
  justify-self: center;
  padding: 20px;
}

.login-wrapper div[role="alert"] {
  background: white;
  padding: 0.5rem;
  color: red;
  display: flex;
  gap: 0.5rem;
}

.login-wrapper div[role="alert"] > svg {
  width: 1.5rem;
  color: red;
}

.header-wrapper {
  padding: 2px 4px;
  font-weight: bold;
  color: white;
  background: var(--colors-primary-dark);
  border-bottom: 4px solid var(--colors-secondary);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header button {
  padding: 2px;
  border-radius: 4px;
}

.header button[data-status="on"] {
  background: white;
  color: #16a34a; /* green-600 */
}

.header button[data-status="off"] {
  background: var(--colors-secondary);
  color: white;
}

.header .logo {
  width: 25%;
  min-width: 100px;
}

.header .actions {
  display: flex;
  gap: 0.2rem;
}

.header .actions button svg {
  border-radius: 4px;
}

.chat {
  position: relative;
  height: 100%;
  padding-bottom: 4rem;
}

.chat div[role="log"] {
  height: 100%;
  overflow-y: auto;
  padding: 0.5rem;
}

.chat li {
  background: white;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.6);
}

.chat .message .data {
  display: flex;
  justify-content: space-between;
}

.chat .message .data span {
  font-weight: bold;
}

.chat .message .data time {
  font-family: mono;
  font-size: 0.7rem;
}

.chat .info {
  font-style: italic;
}

.chat form {
  bottom: 0;
  position: absolute;
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.chat form input {
  appearance: none;
  padding: 0.5rem;
  flex-basis: 80%;
}
.chat form input[type="submit"] {
  flex-basis: 20%;
}

.unread-messages {
  position: absolute;
  background: var(--colors-secondary);
  padding: 1px 4px;
  top: -8px;
  right: -8px;
  width: 22px;
  min-width: min-content;
  height: 22px;
  min-height: min-content;
  font-size: 12px;
  border-radius: 10px;
  text-align: center;

}

.chat-toggler {
  position: relative;
}

button.chat-toggler[data-status="open"] {
  background: white;
  color: var(--colors-primary);
}

button.chat-toggle[data-status="closed"] {
  background: var(--colors-primary-dark);
  color: white;
}

div[role="alertdialog"] {
  background: white;
  border-bottom: 2px solid var(--colors-secondary);
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.7);
  padding: 1rem;
  min-width: 60%;
  max-width: 60%;
}

div[role="alertdialog"] p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

div[role="alertdialog"] div {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

div[role="alertdialog"] div button {
  border: 2px solid var(--colors-primary);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--colors-primary);
  font-weight: bold;
}

div[role="alertdialog"] div button:hover {
  border-color: var(--colors-primary-dark);
  color: var(--colors-primary-dark);
}

.logout-action {
  color: var(--colors-secondary);
}

.participant {
  position: relative;
  border-color: white;
}

.participant.focused {
  border-color: var(--colors-secondary);
}

.participant.speaking {
  border-color: #86efac /** green-300 */
}

.participant-video {
  position: relative;
  display: flex;
  background: var(--colors-primary-dark);
}

.participant-video.placeholder {
  background: #f3f4f6; /* gray-100 */
}

.participant-video.placeholder svg {
  color: var(--colors-secondary);
  height: 100%;
  width: 100%;
}

.participant-video.placeholder video {
  /* former hidden-video */
  display: none;
}

.participant-info {
  display: flex;
  gap: 2px;
  padding: 3px 1px;
  background: #e2e8f0; /* gray-200 */
}

.participant-info button[data-status="on"] {
  color: #16a34a; /* green-600 */
}

.participant-info button[data-status="off"] {
  color: var(--colors-secondary);
}

.stop-sharing svg {
  color: var(--colors-secondary);;
}

.participant .show-more-actions {
  position: absolute;
  top: 5px;
  right: 4px;
  z-index: 50;
  width: 20px;
  height: 20px;
  opacity: 0.75;
  border-radius: 1000px;
  background: white;
  cursor: pointer;
  text-align: center;
  padding: 1px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
}

.participant .show-more-actions svg {
  width: 18px;
  height: 18px;
}

.participant .more-actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--colors-primary-dark);
  padding: 30px 5px;
  color: white;
  opacity: 0.9;
  overflow-y: scroll;
}

.participant .more-actions button {
  padding: 1px 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.participant .more-actions button svg {
  color: white;
  width: 10px;
}

.participant .more-actions button:hover {
  background: var(--colors-primary);
}

.participant .hidden {
  display: none;
}

.notifications-wrapper {
  position: absolute;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.participants-container {
  height: 100%;
  width: 100%;
  display: grid;
  align-content: flex-start;
  justify-content: space-evenly;
  overflow-x: hidden;
  overflow-y: auto;
}

.footer {
  background: var(--colors-primary-dark);
  border-top: 2px solid var(--colors-secondary);
  font-size: 0.75rem;
  line-height: 1rem;
  color: white;
  text-align: center;
  padding: 0.25rem 0;
}

.powered-by {
  color: white;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1rem;
}

