<div class="form-signin">
  <div class="text-center">
    <img src="images/jangouts-logo.png" class="jangouts-logo-login" />
  </div>
  <form ng-submit="vm.signin()">
    <div class="form-group">
      <label class="sr-only" for="inputUsername">Username</label>
      <input
             id="inputUsername"
             class="form-control input-lg"
             type="text"
             ng-model="vm.username"
             required="true"
             placeholder="Username"
             >
    </div>
    <div class="form-group">
      <label class="sr-only" for="inputRoom">Room</label>
      <select
        id="inputRoom"
        class="form-control input-lg"
        ng-model="vm.room"
        required="true"
        ng-options="room.label for room in vm.rooms">
        <option value="" disabled selected>Select a room</option>
      </select>
    </div>
    <jh-thumbnails-mode-button></jh-thumbnails-mode-button>
    <div class="checkbox">
      <label>
          <input id="inputHiddenOnStart"
                 type="checkbox"
                 ng-model="vm.hiddenOnStart">Start hidden</input>
      </label>
    </div>
    <button id="signInButton" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  <div class="login-msg">
    <jh-browser-info></jh-browser-info>
    <hr/>
    <jh-screen-share-hint></jh-screen-share-hint>
  </div>
</div>

