<div class="row global-notification notification-{{data.type}}">
  <div>
    <i ng-class="data.faIcon" ng-if="data.faIcon" class="fa fa-fw icon"></i>
    <div class="notif-message-container">
      <strong ng-if="data.title">{{data.title}}:</strong>
      <span>{{data.message}}</span>
    </div>
    <div class="notif-btn-container">
      <a ng-repeat="action in data.actions" ng-click="action.fn()" ng-class="action.className">
        {{action.label}} 
      </a>
    </div>
  </div>
  <div>
    <span ng-click="close()" ng-if="data.closeButton" class="glyphicon glyphicon-remove close-button"></span>
  </div>
</div>
