<div class="container">

  <a href="#" ng-click="enter()">Entrar</a>

  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="row">
        <div jh-feed="true" feed="data.feeds[0]"></div>
      </div>
      <div class="row">
        <div id="thumbnails">
          <figure jh-feed="true" feed="f" ng-repeat="f in data.feeds"></figure>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div>
        <ul id="chat">
          <li>
            <div class="header">
              <strong>John doe</strong>
              <small class="pull-right text-muted">
                <span class="glyphicon glyphicon-time"></span>
                10:59
              </small>
            </div>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
            cursus ultricies dolor, non rutrum magna.
            </p>
          </li>
          <li>
            <div class="header">
              <strong>Pepe lopez</strong>
              <small class="pull-right text-muted">
                <span class="glyphicon glyphicon-time"></span>
                11:00
              </small>
            </div>
            <p>
            Lorem what?
            <a href="http://https://github.com/ancorgs/hackweek12">https://github.com/ancorgs/hackweek12</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>
