<div class="container">

  <a href="#" ng-click="vm.enter()">Entrar</a>
  <a href="#" ng-click="vm.change()">Cambiar</a>

  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="row">
        <div>
          <video id="main-video" muted="muted" autoplay>
          </video>
        </div>
      </div>
      <div class="row">
        <div id="thumbnails">thum</div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div id="chat">chat</div>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>
