/* Colour pallete */
$color1: #f15a5c; // Red-ish
$color2: #09414f; // Blue-ish
$color3: #e1dcbd; // Brown-ish

//colour variables
$jangouts-bg:  $color3;
$jangouts-video-bg: $color2;


body {
  background: $jangouts-bg;
}

.jangouts-logo-login {
  margin: 3em 0;
}

.global-notification.notification-info {
  z-index: 1000;
  overflow: visible;
  position: fixed;
  top: 35px;
  left: 0px;
  width: 100%;
}

#videochat-playroom {
  background: $jangouts-video-bg;
}
#thumbnails {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin: 0 auto;
  overflow: hidden;
  figure {
    margin: 0px;
    border: 2px solid transparent;
    border-radius: 4px;

    .thumb {
      position: relative;
      cursor: pointer;
      .face {
        vertical-align: middle;
        width: 64px;
        height: 48px;
        // This transition causes some artifacts in some corner cases
        // transition: width .3s, height .3s;
      }
    }

    figcaption {
      line-height: 1.4;
      font-size: 13px;
      padding: 2px 3px 3px 3px;
      height: 26px;
      position: relative;
      .buttons {
        z-index: 10;
        position: absolute;
        top: 2px;
        right: 2px;
      }
      .caption {
        overflow: hidden;
        position: absolute;
        width: 80%;
        height: 20px;
      }
    }

    &.own-feed {
      figcaption {
        color: #fff;
        background: rgba(0,0,0,0.3);
      }
    }
    &.sticky {
      border-color: $color1;
    }
  }
}

.mirrored {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}
#jh-chat-messages {
  height: 40px;
}
.jh-chat.panel.panel-default {
  margin-bottom: 0;
}
.jh-chat {
  font-size: 12px;
  .panel-body {
    height: 60vh;
    overflow: auto;
    padding: 8px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 5px;
      padding-bottom: 2px;
      border-bottom: 1px dotted #aaa;

      .log-entry {
        font-style: oblique;
        color: #3388AA;
      }
    }
  }

  .panel-footer {
    padding: 3px;
  }
}

body div.block-ui-container {
  background-color: black;
  opacity: 0.5 !important;
  img {
    z-index: 1001;
  }
}

header {
  background: $color3;
  padding: 2px 0;
  #logo {
    height: 33px;
  }
  button {
    color: $color1;
    background: transparent;
    border: 0px;
  }
  div.checkbox {
    top: 2px;
    margin: 0 12px 0 12px;
    display: inline;
  }
}

footer {
  background: $color3;
  font-size: 12px;
  border: 0;
  padding: 3px 0 0 0;
}

.container-no-padding {
  padding-left: 0;
  padding-right: 0;
}


//styles by sections
#signin {
  width: 100%;
  min-height: 660px;
  background: url('../images/login-bg.jpg') #000;
  background-size: cover;
  padding-top: 80px;
  .form-signin {
    width: 320px;
    margin: 0 auto;
    padding: 0px;
    .form-group:first-of-type {
      input {
        border-radius: 4px 4px 0px 0px;
        border: 0px;
      }
    }
    .form-group:last-of-type select {
      border-radius: 0px 0px 4px 4px;
      border: 0px;
      -webkit-border-radius: 0px 0px 4px 4px;
      -webkit-appearance: none;
      padding: 0 15px;
    }
    .login-msg {
      margin-top: 1em;
      hr {
        margin-top: 10px;
        margin-bottom: 7px;
      }
    }
  }
}

#main-video {
  margin: 0;
  padding: 0;
  text-align: center;
}

// Overriding of bootstrap's default negative margin, just a hack actually
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.col-no-padding {
  padding: 0px;
}

.gridster-item {
  background: white;
}

#signInButton {
  color: #fff;
  background-color: $color1;
  border-color: darken($color1, 10%);
}
#signInButton:hover {
  color: #fff;
  background-color: darken($color1, 10%);
  border-color: darken($color1, 15%);
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
