/* Colour pallete */
$color1: #F04559; // Red-ish
$color2: #0BADBA; // Blue-ish
$color3: #222222; // Dark Navy
$color4: #EDEDED; // Light Grey
$color5: #BEBEBE; //Dark Grey;

//colour variables
$jangouts-bg:  $color4;
$jangouts-video-bg: $color2;

body {
  background: $jangouts-bg;
}

.jangouts-logo-login {
  margin: 3em 0;
}

.global-notification.notification-info {
  z-index: 1000;
  overflow: visible;
  position: fixed;
  top: 35px;
  left: 0px;
  width: 100%;
}

#videochat-playroom {
  background: $jangouts-video-bg;
}
#thumbnails {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin: 0 auto;
  overflow: hidden;
  figure {
    margin: 0px;
    border: 2px solid transparent;
    border-radius: 4px;

    .thumb {
      cursor: pointer;
      .face {
        vertical-align: middle;
        width: 64px;
        height: 48px;
        // This transition causes some artifacts in some corner cases
        // transition: width .3s, height .3s;
      }
    }

    figcaption {
      line-height: 1.4;
      font-size: 13px;
      padding: 2px 3px 3px 3px;
      height: 26px;
      position: relative;
      .caption {
        position: absolute;
        width: 80%;
        height: 20px;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
      }
      .buttons {
        z-index: 10;
        position: absolute;
        top: 2px;
        right: 2px;
      }
      .additional-buttons {
        z-index: 10;
        position: absolute;
        bottom: 22px;
        padding: 1px;
        background-clip: padding-box;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.07);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
        button {
          margin: 2px;
        }
      }
    }

    .btn {
      // FIXME: this is a copy&paste of Bootstrap's .btn-xs
      // we should use @extend instead of repeating Bootstrap code
      border-radius: 3px;
      font-size: 12px;
      line-height: 1.5;
      padding: 1px 5px;
    }

    &.own-feed {
      figcaption {
        color: #fff;
        background: rgba(0,0,0,0.3);
      }
    }
    &.sticky {
      border-color: $color1;
    }
  }
}

.mirrored {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}
#jh-chat-messages {
  height: 40px;
}
.jh-chat.panel.panel-default {
  margin-bottom: 0;
}
.jh-chat {
  font-size: 12px;
  .panel-body {
    height: 60vh;
    overflow: auto;
    padding: 8px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 5px;
      padding-bottom: 2px;
      border-bottom: 1px dotted #aaa;

      .log-entry {
        font-style: oblique;
        color: #3388AA;
      }
    }
  }

  .panel-footer {
    padding: 3px;
  }
}

body div.block-ui-container {
  background-color: black;
  opacity: 0.5 !important;
  img {
    z-index: 1001;
  }
}


button, .btn-default {
  color: $color1;
  background: transparent;
  border-color: transparent;

  &:active, &:focus, &:hover {
    background: inherit;
    border-color: transparent;
  }
}

header {
  background: $color3;
  // padding: 5px 0;
  height: 60px;
  // position: fixed;
  #logo {
    width: 100px;
  }

  div.checkbox {
    top: 2px;
    margin: 0 12px 0 12px;
    display: inline;
  }

  .feed-info, .room-info {
    vertical-align: middle;
    font-size: 12px;
    font-weight: normal;
    color: $color4;
  }

  .name-edit{
    //text-align: left !important;
    margin: 0px;
    padding: 0px;
    display: inline;
    vertical-align: middle;

    input {
      width: 150px;
    }

    span {
      color: #F15A5C;
    }

    .ng-pristine {
      -webkit-box-shadow: 0 0 10px #C9302C;
      -moz-box-shadow: 0 0 10px #C9302C;
      box-shadow: 0 0 10px #C9302C;
    }

    .ng-dirty{
      -webkit-box-shadow: 0 0 10px #9ecaed;
      -moz-box-shadow: 0 0 10px #9ecaed;
      box-shadow: 0 0 10px #9ecaed;
    }
  }
}

kbd {
  background-color: (black, 0.3);
  padding: 5px;
  font-size: 10px;
}

#btn-hotkey {
  margin-top: -6px;
  margin-left: -2px;
}

footer {
  background: $color3;
  font-size: 8px;
  color: $color5;
  border: 0;
  padding: 10px;
    #text {
      margin-top: -5px;
    }
}

.container-no-padding {
  padding-left: 0;
  padding-right: 0;
}


//styles by sections
#signin {
  width: 100%;
  min-height: 660px;
  background: url('../images/login-bg.jpg') #000;
  background-size: cover;
  padding-top: 80px;
  .form-signin {
    width: 320px;
    margin: 0 auto;
    padding: 0px;
    .form-group:first-of-type {
      input {
        border-radius: 4px 4px 0px 0px;
        border: 0px;
      }
    }
    .form-group:last-of-type select {
      border-radius: 0px 0px 4px 4px;
      border: 0px;
      -webkit-border-radius: 0px 0px 4px 4px;
      -webkit-appearance: none;
      padding: 0 15px;
    }
    .login-msg {
      margin-top: 1em;
      hr {
        margin-top: 10px;
        margin-bottom: 7px;
      }
    }
  }
}

#main-video {
  margin: 0;
  padding: 0;
  text-align: center;
}

// Overriding of bootstrap's default negative margin, just a hack actually
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.col-no-padding {
  padding: 0px;
}

.activity-item {
  background: white;
}

#signInButton {
  color: #fff;
  background-color: $color1;
  border-color: darken($color1, 10%);
}
#signInButton:hover {
  color: #fff;
  background-color: darken($color1, 10%);
  border-color: darken($color1, 15%);
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector



/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 80px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 80px;
  width: 0;
  height: 100%;
  margin-left: -80px;
  overflow-y: auto;
  background: $color3;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header-wrapper {
  // position: fixed;
  height: 60px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 80px;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -80px;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0px;
  width: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
@media(min-width:768px) {
  #wrapper {
    padding-left: 80px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 80px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

hr {
  border-color: $color5;
  opacity: 0.2;
  margin: 0;

}

.sidebar-box {
  width: 80px;
  height: 80px;
  text-align: center;
  margin: auto;
  border-bottom: solid;
  border-bottom-width: thin;
}

#sidebar-box-info {
  height: 60px;
}

.btn-sidebar {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 0 !important;
}

#btn-info {
  background-color: $color1;
  height: 60px;
}

.btn-img {
  width: 50px;
  height: auto;
}

.btn:hover, #btn-info:hover {
  background-color: black;
  border-color: black;
}

.btn-danger, .btn-danger:hover {
  background-color: $color2;
  border-color: $color2;
}

.glyphicon {
  color: $color4;
  padding: 15px;
  margin: 0px;
}

.glyphicon:hover {
  color: $color1;
}

#room-username-separator {
  color: $color1;
}
