// Colour pallete
$color1: #F04559; // Red-ish
$color2: #0BADBA; // Blue-ish
$color3: #222222; // Dark Navy
$color4: #EDEDED; // Light Grey
$color5: #BEBEBE; // Dark Grey

// Colour variables
$jangouts-bg:  $color4;
$jangouts-video-bg: $color2;

body {
  background: $jangouts-bg;
}

.jangouts-logo-login {
  margin: 3em 0;
}

.global-notification.notification-info {
  z-index: 1000;
  overflow: visible;
  position: fixed;
  top: 35px;
  left: 0px;
  width: 100%;
}

#videochat-playroom {
  background: $jangouts-video-bg;
}

#thumbnails {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin: 0 auto;
  overflow: hidden;

  figure {
    margin: 0px;
    border: 2px solid transparent;
    border-radius: 4px;

    .thumb {
      cursor: pointer;

      .face {
        vertical-align: middle;
        width: 64px;
        height: 48px;
        // This transition causes some artifacts in some corner cases
        // transition: width .3s, height .3s;
      }
    }

    figcaption {
      line-height: 1.4;
      font-size: 13px;
      padding: 2px 3px 3px 3px;
      height: 26px;
      position: relative;

      .caption {
        position: absolute;
        width: 80%;
        height: 20px;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
      }

      .buttons {
        z-index: 10;
        position: absolute;
        top: 2px;
        right: 2px;
      }

      .additional-buttons {
        z-index: 10;
        position: absolute;
        bottom: 22px;
        padding: 1px;
        background-clip: padding-box;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.07);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
        button {
          margin: 2px;
        }
      }
    }

    .btn {
      // FIXME: this is a copy&paste of Bootstrap's .btn-xs
      // we should use @extend instead of repeating Bootstrap code
      border-radius: 3px;
      font-size: 12px;
      line-height: 1.5;
      padding: 1px 5px;
    }

    &.own-feed {
      figcaption {
        color: #fff;
        background: rgba(0,0,0,0.3);
      }
    }

    &.sticky {
      border-color: $color1;
    }
  }
}

.mirrored {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

#chat-messages-box {
  height: 270px;
}

.form-control {
  box-shadow: inset 0px 0px 0px;

  &:focus {
    box-shadow: inset 0px 0px 0px;
  }
}

#type-box {
  border-radius: 0px;
  font-style: italic;
  border-style: none;
}

#btn-send {
  border-radius: 0px;
  background-color: $color1;
  color: white;
  font-style: bold;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: 0px;
}

.jh-chat.panel.panel-default {
  margin-bottom: 0;
  border-radius: 0px;
  border-style: hidden;
}

.jh-chat {
  font-size: 12px;

  .panel-body {
    height: 60vh;
    overflow: auto;
    padding: 8px;
    border-style: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 5px;
      padding-bottom: 2px;
      border-bottom: 1px solid rgba($color5, 0.4);
      .log-entry {
        font-style: oblique;
        color: $color2;
      }
    }
  }

  .panel-footer {
    padding: 0px;
  }
}

body div.block-ui-container {
  background-color: black;
  opacity: 0.5 !important;

  img {
    z-index: 1001;
  }
}

button, .btn-default {
  color: $color1;
  background: transparent;
  border-color: transparent;

  &:active, &:focus, &:hover {
    background: inherit;
    border-color: transparent;
    outline: none !important;
  }
}

header {
  background: $color3;
  height: 60px;

  #logo {
    width: 100px;
  }

  div.checkbox {
    top: 2px;
    margin: 0 12px 0 12px;
    display: inline;
  }

  .feed-info, .room-info {
    vertical-align: middle;
    font-size: 12px;
    font-weight: normal;
    color: $color4;
  }

  .name-edit {
     margin: 0px;
    padding: 0px;
    display: inline;
    vertical-align: middle;

    input {
      width: 150px;
    }

    span {
      color: #F15A5C;
    }

    .ng-pristine {
      -webkit-box-shadow: 0 0 10px #C9302C;
      -moz-box-shadow: 0 0 10px #C9302C;
      box-shadow: 0 0 10px #C9302C;
    }

    .ng-dirty{
      -webkit-box-shadow: 0 0 10px #9ecaed;
      -moz-box-shadow: 0 0 10px #9ecaed;
      box-shadow: 0 0 10px #9ecaed;
    }
  }
}

.container-no-padding {
  padding-left: 0;
  padding-right: 0;
}

footer {
  background: $color3;
  font-size: 8px;
  color: $color5;
  border: 0;
  padding: 10px;

  #text {
    margin-top: -5px;
  }
}

//styles by sections
#signin {
  width: 100%;
  min-height: 660px;
  background: url('../images/login-bg.jpg') #000;
  background-size: cover;
  padding-top: 80px;
  .form-signin {
    width: 320px;
    margin: 0 auto;
    padding: 0px;
    .form-group:first-of-type {
      input {
        border-radius: 4px 4px 0px 0px;
        border: 0px;
      }
    }
    .form-group:last-of-type select {
      border-radius: 0px 0px 4px 4px;
      border: 0px;
      -webkit-border-radius: 0px 0px 4px 4px;
      -webkit-appearance: none;
      padding: 0 15px;
    }
    .login-msg {
      margin-top: 1em;
      hr {
        margin-top: 10px;
        margin-bottom: 7px;
      }
    }
  }
}

#main-video {
  margin: 0;
  padding: 0;
  text-align: center;
}

// Overriding of bootstrap's default negative margin, just a hack actually
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.col-no-padding {
  padding: 0px;
}

.activity-item {
  background: white;
}

#signInButton {
  color: #fff;
  background-color: $color1;
  border-color: darken($color1, 10%);
}
#signInButton:hover {
  color: #fff;
  background-color: darken($color1, 10%);
  border-color: darken($color1, 15%);
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 80px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 80px;
  width: 0;
  height: 100%;
  margin-left: -80px;
  overflow-y: auto;
  background: $color3;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header-wrapper {
  height: 60px;
}

#wrapper.toggled #sidebar-wrapper {
  width: 80px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -80px;
}

.sidebar-nav {
  position: absolute;
  top: 0px;
  width: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 80px;
  }
  #sidebar-wrapper {
    width: 80px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
}

.sidebar-box {
  width: 80px;
  height: 80px;
  text-align: center;
  margin: auto;
  border-bottom: solid;
  border-bottom-width: thin;
}

#sidebar-box-info {
  height: 60px;
}

.btn-sidebar {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 0 !important;
}

#btn-info {
  background-color: $color1;
  height: 60px;
}

.btn-img {
  width: 50px;
  height: auto;
}

.btn:hover, #btn-info:hover {
  background-color: black;
}

.btn-danger, .btn-danger:hover {
  background-color: $color2;
  border-color: $color2;
}

.glyphicon {
  color: $color4;
  padding: 15px;
  margin: 0px;
}

.glyphicon:hover {
  color: $color1;
}

kbd {
  background-color: (black, 0.3);
  padding: 5px;
  font-size: 10px;
}

#btn-hotkey {
  margin-top: -6px;
  margin-left: -2px;
}

.room-username-separator {
  color: $color1;
  margin: 0px 5px;
}

// Cheatsheet styles
.cfp-hotkeys-container {
  background-color: transparentize($color3, 0.03);
  color: $color4;
  font-weight: 300;
  padding: 25px 70px 25px 20px;
  overflow-y: scroll !important;
  display: block !important;

  img {
    width: 30px;
    height: auto;
    margin-top: -5px;
  }

  .left-item {
    width: 40px;
    float: left;
  }

  .right-item {
    margin-left: 40px;
  }

  span {
    font-weight: bold;
    color: $color1;
    margin-right: 5px;
  }

  hr {
    margin: 10px 10px 10px 40px;
    opacity: 0.5;
  }
}

.cfp-hotkeys-close {
  margin-top: -20px;
  padding: 5px;
  font-size: 50px;
  border-style: none;
}

.cfp-hotkeys-close:hover {
  color: $color1;
  background-color: transparent;
}

// Chat styles
.chat-wrapper {
  z-index: 10000;
  padding-bottom: 0;
  position: fixed;
  bottom: 350px;
  width: 350px;
  height: 330px;
  margin-bottom: -350px;
  margin-left: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  .chat-header {
    height: 30px;
    cursor: pointer;
    background: rgba($color3, 0.95);
    color: $color4;
    font-size: 12px;
    padding: 7px;

    &:hover {
    background: $color3;
    }
  }

  .chat-header.read {
    background: rgba($color3, 0.95);
  }

  .chat-header.unread {
    background: rgba($color1, 0.95);
  }
}

.chat-wrapper.toggled {
  padding-bottom: -350px;
  height: 30px;
  width: 170px;
  position: fixed;
  overflow-y: hidden;
}
