@import "vendor";
@import "variables";

body {
  background: $jangouts-bg;
}

.jangouts-logo-login {
  margin: 3em 0;
}

.global-notification.notification-info {
  z-index: 1000;
  overflow: visible;
  position: fixed;
  top: 35px;
  left: 0px;
  width: 100%;
}

#videochat-playroom {
  background: $jangouts-video-bg;
}

#thumbnails {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin: 0 auto;
  overflow: hidden;
}

.mirrored {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

body div.block-ui-container {
  background-color: black;
  opacity: 0.5 !important;
  img {
    z-index: 1001;
  }
}

header {
  background: $color3;
  padding: 2px 0;
  #logo {
    height: 33px;
  }
  button {
    color: $color1;
    background: transparent;
    border: 0px;
  }
  div.checkbox {
    top: 2px;
    margin: 0 12px 0 12px;
    display: inline;
  }
}



.container-no-padding {
  padding-left: 0;
  padding-right: 0;
}


//styles by sections
jh-signin-form {
  display: block;
  width: 100%;
  min-height: 660px;
  background: url('../images/login-bg.jpg') #000;
  background-size: cover;
  padding-top: 80px;
  .form-signin {
    width: 320px;
    margin: 0 auto;
    padding: 0px;
    .form-group:first-of-type {
      input {
        border-radius: 4px 4px 0px 0px;
        border: 0px;
      }
    }
    .form-group:last-of-type select {
      border-radius: 0px 0px 4px 4px;
      border: 0px;
      -webkit-border-radius: 0px 0px 4px 4px;
      -webkit-appearance: none;
      padding: 0 15px;
    }
    .login-msg {
      margin-top: 1em;
      hr {
        margin-top: 10px;
        margin-bottom: 7px;
      }
    }
  }
}

// Overriding of bootstrap's default negative margin, just a hack actually
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.col-no-padding {
  padding: 0px;
}

.gridster-item {
  background: white;
}

#signInButton {
  color: #fff;
  background-color: $color1;
  border-color: darken($color1, 10%);
}
#signInButton:hover {
  color: #fff;
  background-color: darken($color1, 10%);
  border-color: darken($color1, 15%);
}
