@import '../../node_modules/animate-scss/animate.scss';

html body {
  background-color: #dbdbdb;
}

.yojume-logo-color {
  color: red !important;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.youjume-room-container {
  min-height: 100px;
  padding: 35px;

  .user-video-face-container {
    .user-video-container {
      padding: 20px;
      @include flipInX(
        $duration: .5s,
        $count: 1,
        $delay: .2s,
        $function: ease,
        $fill: both
      );
      .information {
        margin-top: 10px;
        text-align: center;
        .user-name {
          display: inline-block;
          padding: 5px;
          text-align: center;
          margin: 0 auto;
          color: #ffffff;
          background-color: #2a3133;
        }
        .me {
          background-color: #7f007f;
        }
      }

    }
    .thumb {
      width: 150px;
      height: 150px;
      display: block;
      margin: 0 auto;
      min-height: 100%;
      border-radius: 50%;
      border: 5px solid transparent;
      overflow: hidden;
      position: relative;
      video {
        //display: block;
        //margin: 0 auto;
        position: absolute;
        left: -35px;
        width: 150%;
        //min-height: 100%;
        //border-radius: 50%;
        @include zoomInDown(
          $duration: .5s,
          $count: 1,
          $delay: .2s,
          $function: ease,
          $fill: both
        );
      }
      img {
        width: 100%;
        border-radius: 200px;
      }
    }
    .user-video-face {

    }

    .user-video-area {
      background-color: rgba(158, 158, 158, .5);
      border-radius: 30px;
      margin: 10px;
      padding: 5px;
      figure {
        margin: 0;
      }
      .my-video-face {
      }
    }
  }
}


.nav-slim {
  height: 40px;
  z-index: 1;
}

.room-info {
  background-color: #3ca861;
  padding: 5px 20px;
  font-weight: 600;
  color: #ffffff;
  z-index: -1000;

  @include fadeInDown(
    $duration: .5s,
    $count: 1,
    $delay: .2s,
    $function: ease,
    $fill: both
  );
}
