<figure
  ng-class="{'own-feed': vm.feed.isPublisher, sticky: vm.highlightedByUser}"
  ng-init="buttons=false"
  ng-mouseenter="buttons=true"
  ng-mouseleave="buttons=false">
  <div class="thumb">
    <video
      autoplay
      ng-class="{mirrored: vm.mirrored}"
      poster="assets/images/placeholder.png"
      ng-show="vm.thumbnailTag() === 'video'">
    </video>
    <img
      src="{{vm.feed.getPicture()}}"
      ng-class="{mirrored: vm.mirrored}"
      ng-show="vm.thumbnailTag() === 'picture'">
    </img>
    <img
      ng-src="assets/images/placeholder.png"
      ng-class="{mirrored: vm.mirrored}"
      ng-show="vm.thumbnailTag() === 'placeholder'">
    </img>
    <canvas
      ng-show="false">
    </canvas>
    <div
      class="buttons"
      ng-show="buttons">
      <div class="pull-left">
        <jh-sticky-button feed="vm.feed" click-fn="vm.toggleHighlightFn()" highlighted="vm.highlighted" sticky="vm.highlightedByUser"></jh-sticky-button>
      </div>
      <span class="pull-right">
        <jh-video-button feed="vm.feed"></jh-video-button>
        <jh-ignore-button feed="vm.feed"></jh-ignore-button>
      </span>
    </div>
  </div>
  <figcaption>
    <span class="caption">{{ vm.feed.display }}</span>
    <div class="buttons">
      <jh-unpublish-button feed="vm.feed"></jh-unpublish-button>
      <jh-audio-button feed="vm.feed"></jh-audio-button>
    </div>
  </figcaption>
</figure>
