<figure
  ng-cloak
  ng-class="{'own-feed': vm.feed.isPublisher, sticky: vm.highlightedByUser}">
  <div class="thumb"
       ng-click="vm.toggleHighlightFn()">
    <video
      autoplay
      class="face"
      ng-class="{mirrored: vm.mirrored}"
      ng-show="vm.thumbnailTag() === 'video'">
    </video>
    <img
      ng-src="{{vm.feed.getPicture()}}"
      class="face"
      ng-class="{mirrored: vm.mirrored}"
      ng-show="vm.thumbnailTag() === 'picture'">
    </img>
    <img
      src="../../../assets/images/placeholder.png"
      class="face"
      ng-class="{mirrored: vm.mirrored}"
      ng-show="vm.thumbnailTag() === 'placeholder'">
    </img>
    <canvas
      ng-show="false">
    </canvas>
  </div>
  <figcaption>
    <span class="caption">{{ vm.feed.display }}</span>
    <div class="buttons">
      <jh-unpublish-button feed="vm.feed"></jh-unpublish-button>
      <jh-video-button feed="vm.feed"></jh-video-button>
      <jh-ignore-button feed="vm.feed"></jh-ignore-button>
      <jh-audio-button feed="vm.feed"></jh-audio-button>
    </div>
  </figcaption>
</figure>
