<figure ng-class="{'own-feed': vm.feed.isPublisher, sticky: vm.highlightedByUser}">
  <div class="thumb" ng-click="vm.toggleHighlightFn()">
    <video
      autoplay
      class="face"
      ng-class="{
        withoutMainVideo: !vm.isLayoutWithMainVideoFn(),
        mirrored: vm.mirrored
      }"
      poster="assets/images/placeholder.svg"
      ng-show="vm.thumbnailTag() === 'video'">
    </video>
    <img
      ng-src="{{vm.feed.getPicture()}}"
      class="face"
      ng-class="{
        withoutMainVideo: !vm.isLayoutWithMainVideoFn(),
        mirrored: vm.mirrored
      }"
      ng-show="vm.thumbnailTag() === 'picture'">
    </img>
    <img
      ng-src="assets/images/placeholder.svg"
      class="face"
      ng-class="{
        withoutMainVideo: !vm.isLayoutWithMainVideoFn(),
        mirrored: vm.mirrored
      }"
      ng-show="vm.thumbnailTag() === 'placeholder'">
    </img>
    <canvas
      ng-show="false">
    </canvas>
  </div>
  <figcaption
    ng-init="buttons=false">
    <span
      class="caption"
      ng-class="{dropdown: buttons, dropup: !buttons}"
      ng-click="buttons=!buttons">
      <span class="caret"></span>
      {{ vm.feed.display }}
    </span>
    <div
      class="additional-buttons"
      ng-show="buttons">
        <jh-video-button feed="vm.feed" ng-click="buttons=false" thumbnail-icon="true"></jh-video-button>
        <jh-ignore-button feed="vm.feed" ng-click="buttons=false"></jh-ignore-button>
        <jh-ignore-audio-button feed="vm.feed" ng-click="buttons=false"></jh-ignore-audio-button>
        <jh-unpublish-button feed="vm.feed"></jh-unpublish-button>
        <jh-sticky-button
          feed="vm.feed"
          click-fn="buttons=false; vm.toggleHighlightFn()"
          highlighted="vm.highlighted"
          sticky="vm.highlightedByUser">
        </jh-sticky-button>
        <jh-audio-button feed="vm.feed" with-monitor="true" thumbnail-icon="true"></jh-audio-button>
    </div>
  </figcaption>
</figure>
