<span>
  <div class="name-edit"
  ng-show="vm.isEditing()">
    <input ng-if="vm.isEditing()"
    ng-keydown="vm.keyDetect($event)"
      ng-blur="vm.leaveEditingMode()"
      ng-model="vm.newName"
      placeholder="new name"
      auto-focus>
    <span class="glyphicon glyphicon-pencil"
      title="Press Enter to change&#013;
Press Escape to keep"></span>
  </div>
  <span class="feed-info"
  title="Click to Edit Name"
  ng-click="vm.makeNameEditable()"
  ng-hide="vm.isEditing()">
  {{ vm.name() }}
  </span>
</span>
