<video autoplay></video>
<figcaption>
  {{ vm.feed.display }}
  <button
    type="button"
    class="btn btn-xs btn-default"
    ng-click="vm.toggleAudio()"
    title="Disable audio"
    ng-show="vm.feed.audioEnabled">
    <span class="glyphicon glyphicon-volume-off"></span>
  </button>
  <button
    type="button"
    class="btn btn-xs btn-warning"
    ng-click="vm.toggleAudio()"
    title="Enable audio"
    ng-hide="vm.feed.audioEnabled">
    <span class="glyphicon glyphicon-volume-up"></span>
  </button>
  <button
    type="button"
    class="btn btn-xs btn-default"
    ng-click="vm.toggleVideo()"
    title="Disable video"
    ng-show="vm.feed.videoEnabled">
    <span class="glyphicon glyphicon-eye-close"></span>
  </button>
  <button
    type="button"
    class="btn btn-xs btn-warning"
    ng-click="vm.toggleVideo()"
    title="Enable video"
    ng-hide="vm.feed.videoEnabled">
    <span class="glyphicon glyphicon-eye-open"></span>
  </button>
  <button type="button" class="btn btn-default btn-xs" ng-click="vm.clickFn()">
    <span class="glyphicon glyphicon-arrow-up"></span>
  </button>
</figcaption>
