<div ng-if="vm.visible()" class="alert alert-info" role="alert">
  <span ng-if="vm.usingSSL()">
    If you wish to use the screen sharing functionality, make sure you have
    understood <a class="alert-link" href="#" ng-click="vm.showHelp()">these instructions</a>.
  </span>
  <span ng-if="!vm.usingSSL()">
    Screen sharing will not work without SSL. If you want to make use of that
    functionality, access the
    <a class="alert-link" ng-href="{{vm.httpsUrl()}}">HTTPS version</a> of this
    site.
  </span>
</div>
