<div class="modal-header">
  <button
    type="button"
    class="close"
    ng-click="vm.close()"
    aria-label="Close"><span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Screen sharing</h3>
</div>
<div class="modal-body">
  <p>
  Sharing your screen is an experimental feature in WebRTC and only works if
  the browser you're using meets particular requirements.
  </p>
  <p>
  Active screen/window sharing will only work from Firefox if you have at
  least version 33 installed. In addition, two adjustments must be done in the
  settings at <a href="about:config">about:config</a>. First, make sure
  <code>media.getusermedia.screensharing.enabled</code> is enabled. Then, make
  sure <code>{{ vm.hostname() }}</code> is listed in
  <code>media.getusermedia.screensharing.allowed_domains</code>.
  </p>
  <p>
  If you're using a recent version of Chrome (34+), you'll need to install
  <a href="https://chrome.google.com/webstore/detail/janus-webrtc-screensharin/hapfgfdkleiggjjpfpenajgdnfckjpaj">this extension</a>.
  If you're using an older verson of Chrome, instead, you'll need to manually
  enable the Chrome flag
  <a href="chrome://flags/#enable-usermedia-screen-capture">chrome://flags/#enable-usermedia-screen-capture</a>.
  Otherwise you'll get a permission error. Moreover, please beware that some
  versions of Chrome may only	support the feature if you explicitly pass the
  <code>--enable-usermedia-screen-capturing</code> parameter on the command
  line.
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="vm.close()">OK</button>
</div>
