<div class="form-signin">
  <div class="text-center">
    <img src="../../images/jangouts-logo.png" class="jangouts-logo-login" />
  </div>
  <form [ngFormModel]="loginForm" (ngSubmit)="signin()" novalidate>
    <div class="form-group">
      <label class="sr-only" for="inputUsername">Username</label>
      <input id="inputUsername"
             class="form-control input-lg"
             type="text"
             ngControl="username"
             required="true"
             autofocus
             placeholder="Username">
    </div>
    <div class="form-group">
      <label class="sr-only" for="inputRoom">Room</label>
      <!--<span *ngIf="!showRoomList && room">{{ room.label }}</span>-->
        <!--*ngIf="showRoomsList"-->
        Room {{room}} {{rooms}}
      <select
        id="inputRoom"
        class="form-control input-lg"
        ngControl="room"
        required="true">
        <option value="" disabled selected>Select a room</option>
        <option *ngFor="let roomopt of rooms" [value]="roomopt.id" [selected]="room">{{roomopt.label}}</option>
      </select>
    </div>
    <!--[TODO] Add textTemplate support for thumbnails mode button-->
    <!--<jh-thumbnails-mode-button [textTemplate="true"]></jh-thumbnails-mode-button>-->
    <button id="signInButton"
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      [disabled]="!loginForm.valid">Sign in</button>
  </form>
  <div class="login-msg">
    <jh-browser-info></jh-browser-info>
    <hr/>
    <jh-screen-share-hint></jh-screen-share-hint>
  </div>
</div>
