.Login {
  background-color: #272727;
  background-image: url('../../assets/login-bg.jpg');
  box-sizing: border-box;
  color: #fff;
  display: flex;
  height: 100vh;
  text-align: center;
}

.Login .content {
  margin: auto;
  width: 25%;
}

.Login img.logo {
  margin: 2rem auto;
  width: 100%;
}

.Login .foot-notes {
  font-size: 0.85rem;
  text-align: left;
}
