{
  "janusServer": null,
  "janusServerSSL": null,
  "janusDebug": false,
  "janusWithCredentials": true,
  "httpsAvailable": true,
  "httpsUrl": null,
  "videoThumbnails": true,
  "joinUnmutedLimit": 3
}
