.full-viewport {
  height: 100vh;
  width: 100vw;
  display: grid;
}

.login-wrapper {
  width: 60%;
  background: var(--colors-primary-dark);
  align-self: center;
  justify-self: center;
  padding: 20px;
}

.powered-by {
  color: white;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1rem;
}
