.full-viewport {
  height: 100vh;
  width: 100vw;
  display: grid;
}

.login-wrapper {
  width: 60%;
  background: var(--colors-primary-dark);
  align-self: center;
  justify-self: center;
  padding: 20px;
}

.login-wrapper div[role="alert"] {
  background: white;
  padding: 0.5rem;
  color: red;
  display: flex;
  gap: 0.5rem;
}

.login-wrapper div[role="alert"] > svg {
  width: 1.5rem;
  color: red;
}

input[type="submit"] {
  width: 100%;
  color: white;
  background: var(--colors-secondary);
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  width: 25%;
  min-width: 100px;
}

.header .actions {
  display: flex;
  gap: 0.2rem;
}

.powered-by {
  color: white;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1rem;
}

